version: "3.9"

services:
  vue-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vue-dev
    ports:
      - "5173:5173"
    volumes:
      - ./:/app
    stdin_open: true
    tty: true
